---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Main Courses">
    <h1>Main Courses</h1>
    <p>Basslines, melodic systems, and long-form structures.</p>
</BaseLayout>
