name: Deploy sites to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install & build Cookbook
        run: |
          cd cookbook
          npm install
          npm run build
          ls -la

      - name: Prepare site folder
        run: |
          mkdir site
          mkdir site/cookbook
          cp -R AlgoRaveBlog/* site/
          cp -R cookbook/dist/* site/cookbook/

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: ./site
